.linear-bg{
    background-image: linear-gradient(to bottom,transparent 75%,  #fff);
    /* background-image: radial-gradient(); */
}

.linear-bg-2{
    background-image: linear-gradient(to top, transparent 15%,#fff);
    /* background-image: radial-gradient(); */
}

.linear-bg-3{
    background-image: linear-gradient(to top, transparent 15%,#ffe7c4);
    /* background-image: radial-gradient(); */
}

.stroke-content{
    -webkit-text-stroke: 1px var(--p-primary-color);
}


.pushable {
    /* background: #ce7c00; */
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    /* background: hsl(345deg 100% 47%); */
    /* background: var(--p-primary-color); */
    /* color: white; */
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }